*{
    color: black;
  background-color: beige;
}
h1{color: black;text-align: center; }
p{ font-size: large;text-align: right; }
h2{ text-align: left;font-size: medium;}
h3{ text-align: left;}
details{ text-align: left;}
#header{font-size: xx-large;background-color: rgb(239, 196, 87);text-align: center;
    margin: 40px;
    padding: 30px;
    border:crimson solid;
}

td,th{
  border: solid black 2px;
 padding: 20px;

}
table { 
  border-collapse:collapse ;

}
th{
  background-color: white;
}
td{
  background-color: gold;
  align-items: center;
  align table 
}